@import '../../../template.scss';

.selectContainer {
   margin-top: 10px;
   text-align: right;
   color: teal;

   select {
      border: 2px solid teal;
      color: teal;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
   }
}