@import "../../../template.scss";

.button {
   width: 26px;
   height: 26px;
   border-radius: 50%;
   border: 2px solid teal;
   background-color: #fff;
   position: relative;
   transition: all 0.2s ease;

   &::before {
      content: '';
      height: 15px;
      width: 2px;
      background-color: teal;
      transform: rotate(45deg);
      position: absolute;
      top: 4px;
      left: 10px;
      transition: all 0.2s ease;

   }

   &::after {
      content: '';
      height: 15px;
      width: 2px;
      background-color: teal;
      position: absolute;
      transform: rotate(-45deg);
      top: 4px;
      left: 10px;
      transition: all 0.2s ease;
   }

   &:hover {
      background-color: rgb(175, 45, 45);
      border: 2px solid rgb(175, 45, 45);

      &::before {
         background-color: #fff;
         transform: rotate(405deg);
      }

      &::after {
         background-color: #fff;
         transform: rotate(315deg);
      }
   }
}