* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------------------------ */
.navbar {
  height: 50px;
  width: 100%;
  background-color: teal;
}
.navbar__links {
  height: 100%;
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.navbar__left {
  display: flex;
}
.navbar__right {
  display: flex;
}
.navbar__logout {
  background-color: transparent;
  position: relative;
  z-index: 10;
  padding: 0 10px;
  transition: all 0.2s ease;
  color: rgb(255, 250, 220);
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
}
.navbar__logout::before {
  z-index: -1;
  transition: all 0.2s ease;
  content: "";
  width: 200px;
  height: 200px;
  background-color: rgb(255, 250, 220);
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: left top;
  transform: rotate(135deg);
}
.navbar__logout:hover {
  color: teal;
}
.navbar__logout:hover::before {
  left: 135%;
}
.navbar__link {
  position: relative;
  z-index: 10;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  color: rgb(255, 250, 220);
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
}
.navbar__link::before {
  z-index: -1;
  transition: all 0.2s ease;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(255, 250, 220);
  position: absolute;
  top: 100%;
  left: 0;
}
.navbar__link:hover {
  color: teal;
}
.navbar__link:hover::before {
  top: 0;
}
.navbar__linkActive {
  position: relative;
  z-index: 10;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  color: teal;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
}
.navbar__linkActive::before {
  z-index: -1;
  transition: all 0.2s ease;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(255, 250, 220);
  position: absolute;
  top: 0;
  left: 0;
}