@import '../../../template.scss';

.pagination_buttons {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.pagination_button {
   min-width: 35px;
   min-height: 35px;
   font-weight: 500;
   border-radius: 50%;
   color: teal;
   font-size: 14px;
   background-color: transparent;
   border: 2px solid teal;

   &:hover {
      transition: all 0.1s ease;
      background-color: teal;
      color: white;
   }
}

.pagination_button_current {
   min-width: 35px;
   min-height: 35px;
   font-weight: 500;
   border-radius: 50%;
   font-size: 14px;
   background-color: teal;
   border: 2px solid teal;
   color: white;
}