* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------------------------ */
.postsPage {
  width: 800px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.postList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  margin-bottom: 15px;
}

.container {
  line-height: 125%;
  padding: 15px;
  border: 2px solid teal;
  border-radius: 20px;
  background-color: #fff;
  transition: all 0.1s ease;
}

.post {
  display: flex;
  gap: 20px;
  line-height: 125%;
  padding: 15px;
  justify-content: space-between;
  align-items: start;
  transition: all 0.15s;
  align-self: stretch;
}
.post__head {
  font-weight: 700;
  margin-bottom: 5px;
}
.post__btns {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
}
.post__loadMore {
  margin: 0 20px;
}
.post__content {
  font-size: 16px;
}
.post__comments {
  display: flex;
  flex-direction: column;
}
.post__newComment form {
  margin: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.postListTitle {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 15px;
}

.post-enter {
  transform: translateX(-250px);
  opacity: 0;
  transition: all 0.2s ease;
}

.post-enter-active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.2s ease;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(250px);
  opacity: 0;
  transition: all 0.2s ease;
}

.noPosts {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}