@import '../../../template.scss';

.myBtn {
   padding: 5px 10px;
   color: teal;
   font-size: 14px;
   background-color: #fff;
   border: 2px solid teal;
   border-radius: 10px;

   &:hover {
      transition: all 0.1s ease;
      background-color: teal;
      color: white;
   }
}