@import "../template.scss";

.postsPage {
   width: 800px;
   padding-top: 20px;
   margin-bottom: 10px;
}

.postList {
   display: flex;
   flex-direction: column;
   align-items: stretch;
   gap: 15px;
   margin-bottom: 15px;
}

.container {
   line-height: 125%;
   padding: 15px;
   border: 2px solid teal;
   border-radius: 20px;
   background-color: #fff;

}

.post {
   display: flex;
   gap: 20px;
   line-height: 125%;
   padding: 15px;
   // border-bottom: 2px solid teal;
   justify-content: space-between;
   align-items: start;
   transition: all 0.15s;
   align-self: stretch;

   // margin-bottom: 15px;

   &__head {
      font-weight: 700;
      margin-bottom: 5px;
   }

   &__btns {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      gap: 10px;
   }

   &__content {

      font-size: 16px;
   }

   &__comments {
      display: flex;
      flex-direction: column;
      // gap: 15px;

   }
}


.postListTitle {
   font-weight: 700;
   font-size: 36px;
   text-align: center;
   margin-bottom: 15px;
}

.post-enter {
   transform: translateX(-250px);
   opacity: 0;
   transition: all 0.2s ease;
}

.post-enter-active {
   transform: translateX(0px);
   opacity: 1;
   transition: all 0.2s ease;
}

.post-exit {
   opacity: 1;
}

.post-exit-active {
   transform: translateX(250px);
   opacity: 0;
   transition: all 0.2s ease;
}

.noPosts {
   text-align: center;
   font-weight: 700;
   font-size: 36px;
}