@import "template.scss";

#root {
   display: flex;
   justify-content: center;
}

.App {
   width: 800px;
   padding-top: 20px;
}

h1 {
   font-weight: 700;
   font-size: 36px;
   text-align-last: center;
}

.post {
   display: flex;
   padding: 15px;
   border: 2px solid #157086;
   border-radius: 20px;
   justify-content: space-between;
   margin: 15px;
   align-items: center;

   &__head {
      font-weight: 700;
      margin-bottom: 5px;
   }

   button {
      padding: 5px;
      border: 2px solid #157086;
      background-color: #fff;
      border-radius: 10px;
      transition: all 0.1s ease;

      &:hover {
         transition: all 0.1s ease;
         background-color: #eeeeee;
      }
   }
}