@import "template.scss";

body {
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: start;
   background-color: #fafafa;
   overflow-y: scroll;
   overflow-x: hidden;
}

#root {
   display: flex;
   justify-content: start;
   flex-direction: column;
   align-items: center;
   flex: 1 1 auto;
}

.App {
   width: 800px;
   padding-top: 20px;
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}