@import "template.scss";

#root {
   display: flex;
   justify-content: center;
}

.App {
   width: 800px;
   padding-top: 20px;
}


.post {
   display: flex;
   padding: 15px;
   border: 2px solid teal;
   border-radius: 20px;
   justify-content: space-between;
   margin: 15px 0;
   align-items: center;

   &__head {
      font-weight: 700;
      margin-bottom: 5px;
   }
}

.postListTitle {
   font-weight: 700;
   font-size: 36px;
   text-align: center;
}

.noPosts {
   text-align: center;
   font-weight: 700;
   font-size: 36px;
}